body {
    margin: 0;
    gap: 50px;
    display: flex;
    justify-content: center;
    background-color: pink;
    font-family: cursive;
    color: palevioletred;
}

.tiles {
    border: solid thin;
    background-color: white;
}

#container {
    width: 45vw;
    height: 45vw;
    display: grid;
    box-shadow: 0px 0px 30px rgb(182, 27, 79);
}

#gridContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#heading {
    font-size: 3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    gap: 30px;
}

button {
    background-color: transparent;
    border-color: white;
    width: 100px;
    height: 30px;
    border-radius: 10%;
    border-color: rgb(182, 27, 79);
}

.sizeOption, .colorOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}